apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-quvfrvon
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-quvfrvon:558a19102d0e8ef58dc3a12fd6d4d3ffd47d763d@sha256:fcb527daeca4aa30d57294c8a711653468a94c7606608d91b4e032922041f383
          name: container-image
